/* -------------        Images "mouvante "  -------------------- */

#animation{
position: relative; /* prépare la position des images incluses au container */
height:0;
padding-top: 35%; /* fixe la hauteur proportionnelle au container */
}

@keyframes transparence { /* définition de l'animation */
from  {opacity :1;} /* de pleine opacité */
20% {opacity:1;}
25% {opacity:0;}
to  {opacity:0;}    /* à pleine transparence */
}



#image1 {
animation:  transparence  8s infinite;	/* animation "transparence" */																			/* en boucle  */
position:absolute ;
width:95%;
max-height:390px;
margin-left: 2.5%;
top: 5%;
border-radius:12px;
}


#image2 {
animation:  transparence  8s infinite; /* même animation, mais décalée de 3s */
animation-delay:2s;
position:absolute ;
width:95%;
max-height:390px;
margin-left: 2.5%;
top: 5%;
border-radius:12px;
}


#image3 {
animation:  transparence  8s infinite; /* même animation, mais décalée de 5s */
animation-delay:4s;
position:absolute ;
width:95%;
max-height:390px;
margin-left: 2.5%;
top: 5%;
border-radius:12px;
}

#image4 {
animation:  transparence  8s infinite; /* même animation, mais décalée de 5s */
animation-delay:6s;
position:absolute ;
width:95%;
max-height:390px;
margin-left: 2.5%;
top: 5%;
border-radius:12px;
}