/* -------------        Images "mouvante "  -------------------- */
/* -------------        en format desktop "  ------------------- */



#animation{
position: relative; /* prépare la position des images incluses au container */
height:0;
padding-top: 60%; /* fixe la hauteur proportionnelle au container */
}



@keyframes disparition { /* définition de l'animation */
from  {opacity :1;} /* de pleine opacité */
25% {opacity:1;}
27% {opacity:0;}
95% {opacity:0;}
to  {opacity:1;}    /* à pleine disparition */
}

#image1, #image2, #image3, #image4 {
	position:absolute ;
	width:80%;

	max-height:800px;
	margin-left: 10%;
	top: 5%;
	border-radius:12px;

}

#image1 {
animation:  disparition  20s infinite;	/* animation "disparition" */																			/* en boucle  */

}

#image2 {

animation:  disparition  20s infinite;	/* animation "disparition" */
animation-delay:5s;

}


#image3 {

animation:  disparition  20s infinite; /* même animation, mais décalée de 5s */
animation-delay:10s;

}

#image4 {	
animation:  disparition  20s infinite; /* même animation, mais décalée de 5s */
animation-delay:15s;

}

