

body {
    background-color:black;
    color:white;
  }
H1{
    color:white;
}

/*===============================================================*/
/*=======================PAGE CAT A=============================*/
/*===============================================================*/
.headera{
    border:2px dashed red;
    text-align:center;
}
/*=====================WARM==================*/
#warm{
    border:2px solid red;
}

/*===============BLOC CREER UNE EQUIPE===================*/
#creer_equipe{
    border:2px solid blue;
    
}

#flex{
    display:flex;
    
}

#equipe_presentation{
    border:2px dashed green;
    width:60%;
    margin:5px;
}
/*===================BLOC LOGIN=======================*/
.log_employe{
    border:2px solid yellow;
    width:40%;
    right:0;
    text-align:center;
    margin:5px;
}

/*====================BLOC DESCRIPTION EQUIPE==================*/
#description_equipe{
    border:2px solid white;
    margin:5px;
}

#equipes{
    border:2px solid pink;
    margin:30px;
}
/*===============================================================*/
/*=======================PAGE CAT A1=============================*/
/*===============================================================*/
#creer_personnel{
    text-align:left;
    border:2px dashed white;
}



/*=======================couleur du placeholder====================*/
::-moz-placeholder { 
    color: grey; 
} 
::-webkit-input-placeholder { 
    color: grey; 
}

/*=======================formulaire inscription==========================*/
/*================/!\==NE FONCTIONNE PAS==/!\============================*/
.contact_form>label { 
    width:250px;
    margin-top: 3px; 
    display:inline-block; 
    float:left; 
    padding:3px; 

} 

.contact_form>input { 
    height:20px; 
    width:400px; 
    padding:5px 8px; 
} 