*{
    margin: 0;
    padding: 0;

}

body {
    color: black;
  }
H1{
    color:white;
    text-align:center;
}

H2{
    color:black;
    text-align:center;
    font-size:1.5em;
}

.footer{
    text-align:center;
    color: white;
}
/*===============================================================*/
/*=======================PAGE CAT A=============================*/
/*===============================================================*/

.headera{
    /* border:2px dashed red; */
    text-align:center;
}
/*=====================logo==================*/
.logo{
    /* border:2px solid red; */
    margin:auto;
    border-radius:30px;
}
/*=====================FLEX BOX==========================*/
/*===============BLOC CREER UNE EQUIPE===================*/
/*=======================================================*/
#container{
    /* border:2px solid blue; */
    display:flex;
    flex-direction:row;
}

#container > p >a {
    color: yellow;
}

.flex{
     /* border:5px dashed green;  */
    width:50%;
    margin:5px;
}

.flex1{
    /* border:2px dashed green; */
    width:30%;
    margin:5px;
}

.flex2{
    /* border:2px dashed green; */
    width:70%;
    margin:5px;
}
/*===================BLOC LOGIN=======================*/
.log_equipea{
    /* border:2px solid yellow; */
    width: 100%;
    right:10px;
    text-align:center;
    padding:5px;
    
}



/*====================BLOC DESCRIPTION EQUIPE==================*/
#description_equipe{
    /* border:2px solid white; */
    margin:5px;
}

#equipes{
    /* border:2px solid pink;  */
    margin:30px;

}
/*===============================================================*/
/*=======================PAGE CAT A1=============================*/
/*==============equipes_inscrire_modifier.php====================*/
/*=====================Fiche inscription=========================*/
#creer_personnel{
    text-align:left;
    /* border:2px dashed white; */
}


/*=======================couleur du placeholder====================*/
::-moz-placeholder { 
    color: grey; 
} 
::-webkit-input-placeholder { 
    color: grey; 
}

/*=======================formulaire attribution congés==========================*/
#attribution_conges{
    /* border:2px dashed red; */
    list-style:none;
}

.contact_form ul li label { 
    width:250px;
    margin-top: 3px; 
    display:inline-block; 
    float:left; 
    padding:3px; 
    color:black;
    font-size:25px;
    font-style:bold;
} 

.contact_form input { 
    height:25px; 
    width:300px; 
    padding:5px 8px; 
} 



.adresse_mail{
    width:200px;
}

.attribution_form label { 
    width:250px;
    margin-top: 3px; 
    display:inline-block; 
    float:left; 
    padding:3px; 
    color:black;
} 

.attribution_form input { 
    height:20px; 
    width:60px; 
    padding:5px 8px; 
} 

.bouton input{
    display:inline-block;
    align:center;
    height:30px; 
    width:100px; 
}

/*===============================================================*/
/*=======================PAGE CAT A2=============================*/
/*===================equipes_gerer_conges.php====================*/
#choix_employe {
    /* border:2px dashed blue; */
    margin : 10px;
    text-align: center;
    font-size:20px;
}

#gestion_conges{
    display:inline-block;
    /* border:2px dashed yellow; */
    height:200px;
    width:30%;
}

.photo{
    display:inline-block;
    /* border:2px solid white; */
    height:auto;
    max-width:100%;
    float:right;
    margin :0 50% 0 0 ;
}

#conges_valides{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.form_radio li input { 
    height:15px; 
    width:50px; 
    display:inline;
    vertical-align:middle; 
} 


/*==========================mentionslegales===============================*/
.mentionslegales{
    color: black;
}
/*==============================contact=============================*/
#rem{
    display:block;
    width:600px;
    height:100px;
    margin:auto;
}


/*=========================google map================================*/
#map {
    display:block;
    margin:auto;
}

/*===========================mentions legales========================*/
#mentions{
    font-weight:bold;
    font-size:1.5em;
}


/*===================================RESPONSIVE=======================*/
/***********************************************************************/
/**************@media screen and (max-width: 980px)*********************/
/***********************************************************************/
@media screen and (max-width: 980px) {
body {
    Background:#bbe0e3;
    height:100%;
    list-style:none;
   
}

.form_radio li input { 
    height:15px; 
    width:50px; 
    display:inline;
    vertical-align:middle; 
} 

/*=====================FLEX BOX==========================*/
/*===============BLOC CREER UNE EQUIPE===================*/
/*=======================================================*/
#container{
    display:flex;
    flex-direction:column;
}

#container > p >a {
    color: yellow;
}

.flex{
    width:100%;
    margin:5px;
}

.flex1{
    width:100%;
    margin:5px;
}

.flex2{
    width:70%;
    margin:5px;
}

.flex ul li{
    padding:0px;
    margin:0px;
    list-style:none;
}

.flex1 ul li{
    padding:0px;
    margin:0px;
    list-style:none;
}

/*=============Flexbox Menu=====================*/
.container_menu{
    display:flex;
    flex-direction:column;
}

#flex_menu{
    display:flex;
    flex-direction:column;
    height:auto;
}
/*=========================taille photo===================*/
.photo{
    display:inline-block;
    /* border:2px solid white; */
    height:auto;
    max-width:100%;
    float:left;
    margin :0 2% 0 2% ;
}


.container_menu{
    font-size : 3em;
}

.log_equipe{
    font-size : 3em;
}
#login_equipe{
    font-size : 0.8em;
     
}
#equipe-passwd{
    font-size : 0.8em;
    
}
#fiche_inscription li label{
    font-size : 3em;
    padding:0px;
    font-weight:bold;
}

#fiche_inscription li input{
    font-size : 2.2em;
    padding:0px;
    width:800px;
}

#formulaire_attribution_conges li label{
    font-size : 2.2em;
    padding:0px;
    width:400px;
    font-weight:bold;
}

#formulaire_attribution_conges li input{
    font-size : 2.2em;
    padding:0px;
    width:60px;
    height:30px;
    vertical-align:middle; 
}

.flex ul li{
    padding:0px;
    margin:0px;
    list-style:none;
    font-size : 2.2em;
    font-weight:bold;
    
}
.form_radio li label { 
    font-size : 2em;
    font-weight:bold;
} 

.form_radio li input { 
    font-size : 2em;
} 

/*=======================contact.php============================*/
#preInscription{
    font-size : 2.5em;
    font-weight:bold;
}

#preInscription div input{
    font-size : 1em;
    padding:0px;
}

#kapcharep{
    font-size : 1em;
}

#rem{
    font-size : 1em;
}







































































}