
body {
    background-color:black;
    color:white;
  }
H1{
    color:white;
}


/*===============================================================*/
/*=======================PAGE CAT A=============================*/
/*===============================================================*/

.headera{
    border:2px dashed red;
    text-align:center;
}
/*=====================WARM==================*/
#warm{
    border:2px solid red;
}

/*===============BLOC CREER UNE EQUIPE===================*/
#creer_equipe{
    border:2px solid blue;
    
}

#creer_equipe > p >a {
    color: yellow;
}


#flex{
    display:flex;
    
}

#equipe_presentation{
    border:2px dashed green;

    width:80%;
    margin:5px;
}
/*===================BLOC LOGIN=======================*/
.log_equipea{
    border:2px solid yellow;
    width: 100%;
    right:10px;
    text-align:center;
    padding:5px;
    
}



/*====================BLOC DESCRIPTION EQUIPE==================*/
#description_equipe{
    border:2px solid white;
    margin:5px;
}

#equipes{
    border:2px solid pink;
    margin:30px;

}
/*===============================================================*/
/*=======================PAGE CAT A1=============================*/
/*===============================================================*/
#creer_personnel{
    text-align:left;
    border:2px dashed white;
}

#attribution_conges{
    border:2px dashed red;
}

/*=======================couleur du placeholder====================*/
::-moz-placeholder { 
    color: grey; 
} 
::-webkit-input-placeholder { 
    color: grey; 
}

/*=======================formulaire inscription==========================*/
.contact_form ul li label { 
    width:250px;
    margin-top: 3px; 
    display:inline-block; 
    float:left; 
    padding:3px; 
    color:red;
} 

.contact_form input { 
    height:25px; 
    width:300px; 
    padding:5px 8px; 
} 

.adresse_mail{
    width:200px;
}

.attribution_form ul li label { 
    width:250px;
    margin-top: 3px; 
    display:inline-block; 
    float:left; 
    padding:3px; 
    color:white;
} 

.attribution_form input { 
    height:25px; 
    width:45px; 
    padding:5px 8px; 
} 

.bouton input{
    display:inline-block;
    align:center;
    height:30px; 
    width:100px; 
}

/*===============================================================*/
/*=======================PAGE CAT A2=============================*/
/*===============================================================*/
#choix_employe {
    border:2px dashed blue;
    margin : 10px;
    text-align: center;
    font-size:20px;
}



#gestion_conges{
    border:2px dashed red;
    height:200px;
    vertical-align:center;
}