*{
    margin: 0;
    padding: 0;

}

body {
  background-color:Khaki;/*#dabf00DarkKhaki*/
}


/* -------------        DISPOSITION du menu écran PC  -------------------- */
#provisoire ol, #provisoire li{
    margin:10px 15px;
    padding: 2px;
}

#provisoire {

}

/* -------------        DISPOSITION du menu écran PC  -------------------- */
nav > input,
.nav-button {
  display: none; /* on cache le bouton menu */
}

nav {/* ce qui concerne le menu en lui-même */
font-size : 1.1em;
background-color: #B7AA3F;

}

nav {
margin:5px;
padding:25px;
border-style: solid;
}

nav ul {/* les elements ul de menu contenus dans nav */
list-style: none;
display: flex;
justify-content: space-around;

}

nav a {
color:#362938;
text-decoration:none; /* supprime le soulignement moche */
padding:3px;
}

nav a:hover{
color:#225668;
}

nav ul  ul   {
display:none;
}
 
nav ul li {
position: relative;
height:35px;/* fixe la hauteur du container */
}


nav ul li:hover ul { /* concerne ul quand parent li survolé par souris */
position: relative;
font-size : 0.8em;
display:block;
top:5px;
left:-2px;
margin:5px;
padding:5px 25px 5px 15px;
border-style: solid  ;
border-width: 0px 1px 2px ;
background-color: #B7AA3F;
}

/* ------------ image-article ---------- */

#image-article img {
    width: 66%;
    max-width: 640px;
    height : auto;
    margin-left: 22%;

}




/* ------------ logos des équipes */
.logo_equipe {

    width : 200px;
    height: auto;
    font-size : 0.6em; /* taille texte sous logo */

}


.contact_form > ul:nth-child(2) > input:nth-child(2),
 .attribution_form > ul:nth-child(2) > input:nth-child(2){
    height: auto;
    width : 200px;
    padding: 5px 8px;

}
.flex_logo {
    border: 1px ridge yellow;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
}
/* ------------page mes-conges.php --------*/

.flex_employe {
    border: 1px ridge yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}



/* ------------page mes-conges-consulter.php --------*/


/* couleur des congés suivant leurs statuts  */
.green {
	background-color: lawngreen;
}

.yellow {
	background-color: yellow;

}

.red {
	background-color: tomato;

}

.grey {
	background-color: silver;

}


table {
 border-width:1px; 
 border-style:solid; 
 border-color:black;

  border-collapse:collapse;
 }

td { 
 border-width:1px;
 border-style:solid; 
 border-color:grey;
 padding: 3px;
 }


/*======================== boutons de/connection=======================*/

#administration_connection {
    position: absolute;
    top :25px;
    right: 25px;
    border: groove 4px;
    border-radius: 8px;
    width: 120px;
    text-align: center;
    padding: 3px;

    background-color: PaleGreen;

}
#administration_connection:hover {
    background-color: Lime;
}


#administration_connection a{
    text-decoration:none;}



#administration_deconnection{
    position: absolute;
    top :25px;
    right: 25px;
    border: groove 4px;
    border-radius: 8px;  

    width: 120px;
    text-align: center;
    padding: 5px;

    background-color:Moccasin ;
}

#administration_deconnection:hover {
    background-color: PeachPuff;
}

#administration_deconnection a{
    text-decoration:none;}


/*======================= lien plan du site   ==================*/

#plan-site a {

       font-size:20px;
       color: Olive;
       text-decoration:none;
       margin:15px;
       


}


/*=====================================Responsive=========================*/
/***********************************************************************/
/**************@media screen and (max-width: 980px)*********************/
/***********************************************************************/
@media screen and (max-width: 980px) {
    
nav ul {
    font-size : 3em;
}
    
   
    
}

