body {
  background-color:DarkKhaki;/*#dabf00*/
}


/* -------------        DISPOSITION du menu écran PC  -------------------- */
nav > input,
.nav-button {
  display: none; /* on cache le bouton menu */
}

nav {/* ce qui concerne le menu en lui-même */
font-size : 1.1em;
background-color: #B7AA3F;

}

nav {
margin:5px;
padding:25px;
border-style: solid;
}

nav ul {/* les elements ul de menu contenus dans nav */
list-style: none;
display: flex;
justify-content: space-around;

}

nav a {
color:#362938;
text-decoration:none; /* supprime le soulignement moche */
padding:3px;
}

nav a:hover{
color:#225668;
}

nav ul  ul   {
display:none;
}
 
nav ul li {
position: relative;
height:35px;/* fixe la hauteur du container */
}


nav ul li:hover ul { /* concerne ul quand parent li survolé par souris */
position: relative;
font-size : 0.8em;
display:block;
top:5px;
left:-2px;
margin:5px;
padding:5px 25px 5px 15px;
border-style: solid  ;
border-width: 0px 1px 2px ;
background-color: #B7AA3F;
}

/* ------------ logos des équipes */
.logo_equipe {

	width : 200px;
	height: auto;
	font-size : 0.6em; /* taille texte sous logo */
}


.contact_form > ul:nth-child(2) > input:nth-child(2),
 .attribution_form > ul:nth-child(2) > input:nth-child(2){
	height: auto;
	width : 200px;
padding: 5px 8px;

}
.flex_logo {
	border: 1px ridge yellow;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: baseline;
}
/* ------------page mes_conges.php --------*/

.flex_employe {
	border: 1px ridge yellow;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
}



/* ------------page mes_conges_consulter.php --------*/


/* couleur des congés suivant leurs statuts  */
.green {
	background-color: green;
}

.yellow {
	background-color: yellow;

}

.red {
	background-color: red;

}

.grey {
	background-color: grey;

}