* {
    margin: 0;
    padding: 0;

}

body {
  background-color:Khaki;/*#dabf00DarkKhaki*/
}


 #blabla_accueil ol, #blabla_accueil li{
   margin:10px 15px;
   padding: 2px;
}




/* -------------- alignement des "input" du formulaire --------------------- */

#preInscription fieldset{
margin: 25px;
}

#preInscription legend {
    font-size:1.5em;
}

#preInscription  input, #preInscription #rem {
display:block;
margin-left:5%;

}

#preInscription  input:not(#rem)
  {
    height: 25px;
    font-size: 1.1em;

}

#preInscription input[type="radio"] {
    margin-top: 15px;
    font-size: 1.1em;
}

#kapcharep{
    
    width:50px;
}


#preInscription textarea {
    width: 75%;
    height: 200px;
    font-size: 1.5em;
}

#contientMapGoogle {
    height: 400px;
    margin:5px;
    padding: 10px;
    

}
#siegeSocial { 

height: 385px;
width: 70%;
margin-left:15%;
background-color: #DCCA38;
border-style: solid ;
border-width: 2px;
border-radius: 7px;

}


/* -------------        DISPOSITION du menu écran PC  --------------------*/
@media screen and (min-width: 981px){

    #banniere {
    position:absolute;
    top:15px;
    left:350px;
}

h1{    
    position: absolute;
    top :30px;
    left: 30%;
    width: 50%;
    color:#362938;
    text-align:center;
    font-size:2.2em;
}


#vide_sideral{
    height: 150px;
}

#posMenu{

position: absolute;
top :280px;
left:20%;
width: 64%; 
} 


nav > input,
.nav-button {
  display: none; /* on cache le bouton menu */
}

nav {/* ce qui concerne le menu en lui-même */
font-size : 1.3em;
background-color: #DCCA38;

}

nav {
margin:5px;
padding:25px;
border-style: solid;
border-radius: 7px;
}

nav ul {/* les elements ul de menu contenus dans nav */
list-style: none;
display: flex;
justify-content: space-around;

}

nav a {
color:#362938;
text-decoration:none; /* supprime le soulignement moche */
padding:3px;
}

nav a:hover{
color:#225668;
}

nav ul  ul   {
display:none;
}
 
nav ul li {
position: relative;
height:35px;/* fixe la hauteur du container */
}


nav ul li:hover ul { /* concerne ul quand parent li survolé par souris */
position: relative;
font-size : 0.9em;
display:block;
top:5px;
left:-2px;
margin:5px;
padding:5px 25px 5px 15px;
border-style: solid  ;
border-width: 0px 1px 2px ;
border-radius: 0px 0px 9px 9px;
/*background-color: #DCCA38;*/
background-image:linear-gradient(#DCCA38, #CFBF3F);
}

/* on cache le bouton de selection tous écrans */
}
nav > input,
.nav-button {
  display: none; /* hidden on large screens */
}
/*=====================================Responsive=========================*/
/***********************************************************************/
/**************@media screen and (max-width: 980px)*********************/
/***********************************************************************/
@media screen and (max-width: 980px) {

    #banniere {
       width: 50%;
       border-radius:15px;

    }

    h1{    
    position: relative;
    top :10px;
    left: 8%;
    width: 84%;
    color: #776E22;
    text-align:center;
    font-size:2.8em;
    margin-bottom: 15px;
}

#posMenu{
position: fixed;
top :15px;
right:170px;
}

.nav-inner {
   position: absolute;
   left:-200px;
   width: 80vw;  
   transform: translateX(150%) translateZ(0);
   transition: transform .4s;
   will-change: transform;
   background-color: #DCCA38;
   border-radius:15px;
  }

.nav-inner  a , .nav-inner ul,.nav-inner li ul li {
    font-size : 1.1em;
    margin: 1%;
    padding: 1%;
    text-decoration: none;
    list-style-type: none;
}
  /* here's goes the slide effect */
  input:checked ~ .nav-inner {
    transform: translateX(0);
  }

  /* Button deco */
  .nav-button {
    display: block;
    position: relative;
    top: 1rem; right: 1rem; 
    z-index: 1;
    height: 3.5rem; width: 3.5rem;
    background-color: transparent;
    background-image: 
        linear-gradient(to right, #F8E63D, #F8E63D),
        linear-gradient(to right, #F8E63D, #F8E63D),
        linear-gradient(to right, #F8E63D, #F8E63D);

    background-position: center top, center, center bottom;
    background-repeat: no-repeat;
    background-size: 3.5rem .9rem;
    padding: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
  }
    
}




/* ------------ image-article ---------- */

#image-article img {
    width: 66%;
    max-width: 640px;
    height : auto;
    margin-left: 22%;

}




/* ------------ logos des équipes */

.nom_equipe {
    width : 250px;
    text-align: center;
    font-size : 1.2em;
    margin: 7px;
    padding:10px 5px ;
    border: 3px Khaki ridge;
}

.logo_equipe {

    width : 200px;
    height: auto;
    font-size : 0.6em; /* taille texte sous logo */
    position: center;
}


.contact_form > ul:nth-child(2) > input:nth-child(2),
 .attribution_form > ul:nth-child(2) > input:nth-child(2){
    height: auto;
    width : 200px;
    padding: 5px 8px;

}
.flex_logo {
    border: 1px ridge yellow;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
}
/* ------------page mes-conges.php --------*/

.flex_employe {
    border: 1px ridge yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}



/* ------------page mes-conges-consulter.php --------*/


/* couleur des congés suivant leurs statuts  */
.green {
	background-color: lawngreen;
}

.yellow {
	background-color: yellow;

}

.red {
	background-color: tomato;
    
}

.grey {
	background-color: silver;

}


table {
 border-width:1px; 
 border-style:solid; 
 border-color:black;

  border-collapse:collapse;
 }

td { 
 border-width:1px;
 border-style:solid; 
 border-color:grey;
 padding: 3px;
 }

/*======================== boutons formulaires =======================*/
/* sources: http://css.mammouthland.net/formulaire-form-input-css.php */

input[type=submit], input[type=reset], select, .liens-direct, .deconnection {
    background-color:  LightSteelBlue;
    font-size : 1em;
    padding: 2px;
    margin: 4px;
    font-weight: bold;
    border-radius: 7px;
}



input[type=reset]{
    background-color:  BlanchedAlmond;
}

/*select {
    background-color:  DarkKhaki;

}*/

.liens-direct, .deconnection {
    margin:4px;
    padding: 2px 10px;
    background-color:  #B7AA3F;
    text-decoration: none;
    color: #4B3E39;
    border:solid 2px;
}

.deconnection {

    background-color:  Moccasin;

}


/*======================== boutons cookie et de/connection=======================*/

#cookie_bienvenue {
    position: absolute;
    top :95px;
    right: 20px;
    border: groove 4px;
    border-radius: 8px;
    width: 160px;
    text-align: center;
    padding: 2px;

    background-color: #DABF00;  
}

#administration_connection {
    position: absolute;
    top :25px;
    right: 25px;
    border: groove 4px;
    border-radius: 8px;
    width: 120px;
    text-align: center;
    padding: 3px;

    background-color: PaleGreen;

}
#administration_connection:hover {
    background-color: Lime;
}


#administration_connection a{
    text-decoration:none;}



#administration_deconnection{
    position: absolute;
    top :25px;
    right: 25px;
    border: groove 4px;
    border-radius: 8px;  

    width: 120px;
    text-align: center;
    padding: 5px;

    background-color:Moccasin ;
}

#administration_deconnection:hover {
    background-color: PeachPuff;
}

#administration_deconnection a{
    text-decoration:none;}


/*======================= lien plan du site   ==================*/

#plan-site a {

       font-size:20px;
       color: Olive;
       text-decoration:none;
       margin:15px;
       


}
