# ignorer le repertoire de comptage
/compteur

#ignorer le fichier de connection
connection.php

# ignorer le repertoire des logos
/logos

# ignorer le repertoire des avatars(employés)
/avatars

# ignorer le repertoire des fichiers telechargeables
/csv
